<nav>
  <mat-toolbar color="primary">

      <mat-toolbar-row>
        <span>My Icons App</span>
        <span class="spacer"></span>
        <button (click)="openDialog()" mat-raised-button color="accent" class="add-btn">
          <span>Add Icon</span>
          <mat-icon class="example-icon">add</mat-icon>
        </button>
        
      </mat-toolbar-row>
    
    </mat-toolbar>
</nav>

<main class="container">
  <div class="custom-icons">
    <app-custom-icon attr.aria-label="{{icon.name}} icon" tabindex="0" role="button" *ngFor="let icon of icons" [icon]="icon"></app-custom-icon>
  </div>
</main>
